<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-3">
        <span class="fw-bold fs-5">تئاتر</span>
        <hr />
        <% if(errors.length){ %>
            <div>
                <ul>
                   <% errors.forEach(err=>{ %>
                        <li class="alert alert-danger" ><%= err.msg %></li>
                   <% }) %>
                </ul>
            </div>
        <% } %>
        
        <% if(message){ %>
            <h4><%= message %></h4>
        <% } %>
        <form action="/admin/comedytheater/create" method="post" enctype="multipart/form-data">
            <div class="row g-2 was-validated">
                <div class="col-md-4">
                    <label  class="form-label">نام فیلم:</label>
                    <input type="text" name="movie_name" class="form-control is-valid" required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">عنوان:</label>
                    <input type="text" name="title"  class="form-control is-valid"  required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">بازیگران:</label>
                    <input type="text" name="actors" class="form-control is-valid"  required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">کارگردان:</label>
                    <input type="text" name="director" class="form-control is-valid" required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">تهیه کننده:</label>
                    <input type="text" name="producer" class="form-control is-valid" required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">تاریخ تولید:</label>
                    <input type="text" name="production_date" class="form-control is-valid" required >
                </div>
                <div class="col-md-4">
                    <label  class="form-label">تاریخ اکران:</label>
                    <input type="text" name="release_date" class="form-control is-valid" required >
    
                </div>
                <div class="col-md-4">
                    <label  class="form-label">توضیحات و خلاصه فیلم:</label>
                    <textarea name="description" class="form-control is-invalid"  placeholder="خلاصه ایی از فیلم را ذکر کنید ..." required></textarea>
                </div>
    
                <div class="col-md-4">
                    <label class="form-label">عکس پوستر:</label>
                    <input name="image" type="file" class="form-control" required >
                </div>
    
                <div class="mb-3">
                    <input class="btn btn-primary ms-2" type="submit" value="ایجاد فیلم" > 
                    <a href="/admin" class="btn btn-danger">بازگشت به داشبورد</a>
                </div>
            </div>
        </form>
         
        <table class="table fs-sm">
            <thead>
                <tr>
                <th scope="col">آي دی</th>
                <th scope="col">نام فیلم</th>
                <th scope="col">عنوان</th>
                <th scope="col">بازیگران</th>
                <th scope="col">کارگردان</th>
                <th scope="col">تهیه کننده</th>
                <th scope="col">تاریخ ساخت</th>
                <th scope="col">تاریخ اکران</th>
                <th scope="col">حذف | آپدیت</th>
                </tr>
            </thead>
            <tbody>
                <% comedyTheaters.forEach((comedyTheater)=>{ %>
                    <tr>
                        <td><%= comedyTheater._id %></td>
                        <td><%= comedyTheater.movie_name %></td>
                        <td><%= comedyTheater.title %></td>
                        <td><%= comedyTheater.actors %></td>
                        <td><%= comedyTheater.director %></td>
                        <td><%= comedyTheater.producer %></td>
                        <td><%= comedyTheater.production_date %></td>
                        <td><%= comedyTheater.release_date %></td>
                        <td class="d-flex">
                            <form action="/admin/comedytheater/delete/<%= comedyTheater._id %>?method=DELETE" method="post">
                                <input type="submit" class="btn btn-danger ms-2" value="حذف">
                            </form>
                            <a href="/admin/comedytheater/<%= comedyTheater._id %>"><button class="btn btn-primary" type="submit">آپدیت</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>   
        </table>
    </div>

   
    <script src="/js/bootstrap.bundle.min.js" ></script>
</body>
</html>