<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>همه کاربرها</title>
</head>
<body>
    <% if(errors.length){ %>
        <div>
            <ul>
               <% errors.forEach(err=>{ %>
                    <li class="alert alert-danger" ><%= err.msg %></li>
               <% }) %>
            </ul>
        </div>
    <% } %>
    
    <% if(message){ %>
        <h4><%= message %></h4>
    <% } %>
    <div>
        <form action="/user/create" method="post">
            <input type="text" placeholder="user name" name="username">
            <input type="email" placeholder="email" name="email">
            <input type="tel" placeholder="phone number" name="phone_number">
            <input type="text" placeholder="password" name="password">
            <input type="submit">
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>user name</th>
                <th>email</th>
                <th>phone number</th>
                <th>password</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
           <% users.forEach((user)=>{ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone_number %></td>
                    <td><%= user.password %></td>
                    <td>
                        <form action="/user/delete/<%= user.id %>?method=DELETE" method="POST">
                            <input type="submit" value="delete">
                        </form>

                        <a href="/user/<%= user.id %>">update</a>
                    </td>
                </tr>
           <% }) %>
        </tbody>
    </table>
</body>
</html>